
<% layout('../boilerplate') %>


<ul>
	<li><a href="users/">List users</a>
	<li><a href="users/create">Create a new user</a>
	<li><a href="groups/">List groups</a>
	<li><a href="groups/create/">Create a group</a>
	<li><a href="groups/populate/">Populate a group</a>
	<li><a href="users/cleanup">Cleanup empty users</a>
</ul>