
<% layout('../boilerplate') %>


<p class="text-danger">This will invalidate any unused validation tokens and remove the empty users!</p>

<form method="post" action="">
	<input type="hidden" name="forsure" value="forsure" />
	<div class="row">
		<div class="col-sm-6 text-left">
			<a href="./" type="button" class="btn btn-default">Cancel</a>
		</div>
		<div class="col-sm-6 text-right">
			<button type="submit" class="btn btn-danger">Yes</button>
		</div>
	</div>
</form>