<% layout('../boilerplate') %>

<div class="alert alert-warning">
	No empty users to remove.
</div>


<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
<a href="./" type="button" class="btn btn-default btn-block">Done</a>