<% layout('../boilerplate') %>

<% if ( message ) { %>
<%= message %>
<% } %>

<form method="post" action="">
	<div class="form-group">
        <label for="inputTeacher">Teacher:</label>
        <input id="inputTeacher" class="form-control" type="text" name="teacher"/>
    </div>
	<div class="form-group">
        <label for="inputYear">Year:</label>
        <input id="inputYear" class="form-control" type="number" name="year"/>
    </div>
    <div class="form-group">
        <label for="inputName">Name:</label>
        <input id="inputName" class="form-control" type="text" name="habitsGroup"/>
    </div>
    
    <div class="clearfix">&nbsp;</div>
    
    <div class="row">
		<div class="col-sm-6 text-left">
			<a href="../" type="button" class="btn btn-default">Cancel</a>
		</div>
		<div class="col-sm-6 text-right">
			<button type="submit" class="btn btn-success">Create</button>
		</div>
	</div>	
</form>