
<% layout('../boilerplate') %>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed ante ut neque ullamcorper rhoncus. In a tortor dui, sit amet rhoncus tellus. Cras vulputate placerat mi lacinia rhoncus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque eu nisi at dolor suscipit molestie. Donec id dolor ante. Nulla ac nisl sed arcu sagittis volutpat. Vivamus varius adipiscing tortor.</p>