
<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
	<title><%= title %></title>
	<link rel="stylesheet" href="../../css/bootstrap.min.css" title="Bootstrap" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="../../css/bootstrap-responsive.min.css" title="Bootstrap responsive" type="text/css" media="screen" charset="utf-8">

	
</head>
<body>

	<h1><%= title %></h1>
	
	<ul>
		<li><a href="users/">List users</a>
		<li><a href="users/create/">Create a new user</a>
		<li><a href="groups/">List groups</a>
		<li><a href="groups/create/">Create a group</a>
		<li><a href="groups/populate/">Populate a group</a>
		<li><a href="cleanup">Cleanup empty users</a>
	</ul>

	

</body>
</html>