<% layout('../boilerplate') %>

<p class="text-danger">Are you sure you want to delete <strong><%= username %></strong>?</p>
<p class="text-danger">This will remove ALL of his/her data!</p>

<form method="post" action="">
	<input type="hidden" name="id" value="<%= id %>" />
	<input type="hidden" name="username" value="<%= username %>" />
	
	<div class="row">
		<div class="col-sm-6 text-left">
			<a href="../" type="button" class="btn btn-default">Cancel</a>
		</div>
		<div class="col-sm-6 text-right">
			<button type="submit" class="btn btn-danger">Yes</button>
		</div>
	</div>


</form>
