<% layout('../boilerplate') %>
	
<h3><%=username %> deleted</h3>
<a href="../">Back to users list</a>

<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
<a href="../" type="button" class="btn btn-default btn-block">Done</a>