<% script("/js/jquery.tablesorter.min.js", "text/javascript") -%>

<% layout('../boilerplate') %>

<div class="row">
	<div class="col-sm-6">
		<h2>List</h2>
	</div>
	<div class="col-sm-6 text-right">
		<a href="create" class="btn btn-success create-button">Create New</a>
	</div>
</div>


<div class="row">
	<div class="col-sm-6">

<% include ../boiler_components/userlist %>

	</div>
</div>