
<% layout('../boilerplate') %>

<div class="alert alert-success">
	New User Created with the secret: <strong><%= secret %></strong> and registration code: <strong><%= token %></strong>
</div>
<p><a href="mailto:someone%40somewhere.com?subject=Tallis%20Habits%20registration&body=Dear%20someone%0A%0APlease%20register%20at%20Tallis%20Habits%20using%20the%20secret%3A%20<%= secret %>%20and%20registration%20code%3A%20<%= token %>%0A%0ATallis%20Habits%0A2013">Email</a> the registration code</p>


<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
<a href="../" type="button" class="btn btn-default btn-block">Done</a>