<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
	<title>Admin - Add User</title>
	<link rel="stylesheet" href="../../../css/bootstrap.min.css" title="Bootstrap" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="../../../css/bootstrap-responsive.min.css" title="Bootstrap responsive" type="text/css" media="screen" charset="utf-8">

	
</head>
<body>
	
	<h3>Delete <%= username %></h3>
	Are you sure?
	<form method="post" action="/admin/users/delete/">
		<input type="hidden" name="id" value="<%= id %>" />
		<input type="hidden" name="username" value="<%= username %>" />]
		<input type="button" value="no" />
		<input type="submit" value="Yes" />
	</form>
	

</body>
</html>