
<% layout('../boilerplate') %>

<div class="alert alert-success">
	New User Created with the secret: <strong><%= secret %></strong> and registration code: <strong><%= token %></strong>
</div>


<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
<a href="../" type="button" class="btn btn-default btn-block">Done</a>