<% layout('boilerplate') -%>

<% block('nav_about', "active") -%>




<div class="row">
	<div class="col-sm-12">
	
		<p>Tallis Habits is about <strong>how</strong> we learn. It is a project designed to support the development of really effective learning habits. Research shows that people who acquire particular skills and attributes develop the ability to learn to do a range of things successfully over time. </
		
		<p>The 5 <strong>Habits of Mind</strong> that form the foundations of this project come from a very <a href="http://www.google.com/url?q=http%3A%2F%2Fwww.creativitycultureeducation.org%2Fprogression-in-creativity-developing-new-forms-of-assessment&sa=D&sntz=1&usg=AFQjCNEaOS1AiJ5se1xfJZcJFwBPN0V79A" target="_blank">detailed piece of research</a> commissioned by <a href="http://www.creativitycultureeducation.org/" target="_blank">Creativity, Culture and Education</a> and carried out by <a href="http://www.winchester.ac.uk/aboutus/lifelonglearning/CentreforRealWorldLearning" target="_blank">The Centre for Real World Learning</a> at the University of Winchester. We will continue to collaborate with professors <a href="http://www.winchester.ac.uk/about-us/centre-for-lifelong-learning/centre-for-real-world-learning/people-profiles/bill-lucas" target="_blank">Bill Lucas</a> and <a href="http://www.guyclaxton.com/" target="_blank">Guy Claxton</a> and our colleagues in the <a href="http://www.expansiveeducation.net/" target="_blank">Expansive Education Network</a> on the future development and implementation of the project. </p>
		
		<p>The app is one of several ways in which the school is promoting the development of good learning habits with a particular focus on creative learning. It is designed to support learners in reflecting on the day to day use of their habits of mind, thereby encouraging them to develop a language to think about the ways in which they are learning.</p>
		
		<p>You can find out about how the project is progressing by visiting the <a href="http://tallishabits.tumblr.com" target="_blank">Tallis Habits blog.</a></p>
		
		<p><a href="https://github.com/pkorac/habitsOfMind" target="_blank">All the code</a> produced for the project is opensource and under MIT licence. You can find our repository over at <a href="https://github.com/pkorac/habitsOfMind" target="_blank">github.</a> We hope to share the project with others that might benefit from it and find collaborators to help refine and develop it further.</p>
		<br />
	</div>
</div>

<div class="row">
	<div class="col-sm-3">
		<a href="http://www.thomastallis.co.uk/" target="_blank"><img src="imgs/logo.png" class="img-responsive" /></a><br />
	</div>
</div>