<% layout('boilerplate') -%>

<% block('nav_contact', "active") -%>


<h3>Project lead</h3>
<address>
	<strong>Jon Nicholls</strong><br>
	Director of Arts, Creativity & Communications<br />
	<br />
	<span class="glyphicon glyphicon-home"></span> : <a href="http://www.thomastallis.co.uk/" target="_blank">Thomas Tallis School</a><br />
	<span class="glyphicon glyphicon-edit"></span> : <a href="mailto:jnicholls)at(thomastallis.org.uk">jnicholls@<span class="seMeNot"></span>thomastallis.org.uk</a><br />
	<span class="glyphicon glyphicon-link"></span> : <a href="https://twitter.com/creativetallis" target="_blank">@creativetallis</a>
</address>


<h3>Interactive design</h3>
<address>
	<strong>Peter Koraca,</strong><br/>
	Creative coder & Interaction designer<br />
	<br />
	<span class="glyphicon glyphicon-home"></span> : <a href="http://www.peterkoraca.com" target="_blank">www.peterkoraca.com</a><br />
	<span class="glyphicon glyphicon-edit"></span> : <a href="mailto:info)at(peterkoraca.com">info@<span class="seMeNot"></span>peterkoraca.com</a><br />
	<span class="glyphicon glyphicon-link"></span> : <a href="https://twitter.com/pkorac" target="_blank">@pkorac</a>
</address>