
<% layout('boilerplate') -%>

<% block('nav_home', "active") -%>

<div class="row">
	<div class="col-xs-3">
		<a href="http://www.thomastallis.co.uk/" target="_blank"><img src="imgs/logo.png" class="img-responsive" /> </a>
	</div>
	<div class="col-xs-8">
		<p>Welcome to the Tallis Habits app. To be a really successful learner you need to develop particular habits of mind. We believe you can develop these habits and the more you think about them the stronger they get. Use the prompts to record how you’re learning. </p>
	</div>

</div>