<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
	<title>Loged out</title>
	<link rel="stylesheet" href="css/bootstrap.min.css" title="Bootstrap" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="css/bootstrap-responsive.min.css" title="Bootstrap responsive" type="text/css" media="screen" charset="utf-8">

	
</head>
<body>
	
	<h1>Bye bye</h1>
	<p>You are now loged out</p>
	<p>To log back in click <a href="/login">here</a></p>
	

</body>
</html>