<% layout('../boilerplate') -%>

<% block('nav_groups', "active") -%>


<ul>
<% for ( var i = 0; i < groups.length; i ++ ){ %>
	<li>
		<strong><%= groups[i].name %></strong>: <%= groups[i].teacher %>, year <%= groups[i].year %>		
	</li>				
<% } %>
</ul>