<% layout('../boilerplate') -%>


<ul>
<% for ( var i = 0; i < groups.length; i ++ ){ %>
	<li>
		<a href="?groupid=<%= groups[i]._id %>"><strong><%= groups[i].name %></strong>: <%= groups[i].teacher %>, year <%= groups[i].year %></a>
	</li>				
<% } %>
</ul>