
<% layout('../boilerplate') %>

<% block('globaljs', "var habitsData = " + JSON.stringify( habits ) ) %>

<% script('/js/raphael-min.js') %>
<% script('/js/habitsHistory2.js') %>

<div class="row">
	<div class="col-sm-6" id="graphControls">
		<a href="#" class="btn btn-info" id="chaos">All habits</a>
		<a href="#" class="btn btn-default" id="averages">Averages</a>
		<a href="#" class="btn btn-default" id="details">Details</a>

	</div>
	<div class="col-sm-6 text-right" id="graphSortings">
		<a href="#" class="btn btn-info" id="year">Last year</a>
		<a href="#" class="btn btn-default" id="month">Last month</a>			
		<a href="#" class="btn btn-default" id="week">Last week</a>
	</div>
</div>


<div id="paper"></div>
