
<% layout('../boilerplate') %>

<% block('globaljs', "var habitsData = " + JSON.stringify( habits ) ) %>

<% script('/js/raphael-min.js') %>
<% script('/js/habitsHistory2.js') %>

<a href="#" id="chaos">All habits</a>
<a href="#" id="averages">Averages</a>
<a href="#" id="details">Details</a>
<br /><br />
<div id="paper"></div>
<!--
<br /><br />
<a href="#" id="data1">Data 1</a>
<a href="#" id="data2">Data 2</a>
-->
<br /><br />
<a href="#" id="year">Year</a>
<a href="#" id="month">Month</a>
<a href="#" id="week">Week</a>