<% layout('../boilerplate') %>

<ul id="habitsList" class="list-unstyled">
<% for( var habit in habits ){ %>
	<li class="habitsListItem "><a class="<%= habit %>-fill" href="edit?habit=<%= habit %>"><%= habits[habit].name %></a></li>	
<% } %>
</ul>