
<% layout('../boilerplate') %>

<% block('globaljs', "var habitsData = " + JSON.stringify( habits ) ) %>

<% script('/js/raphael-min.js') %>
<% script('/js/habitsHistory.js') %>

<div id="paper"></div>

<ul>
	<% for ( var i = 0; i < habits.length; i++ ){ %>	
		<li class="<%= habits[i].habitid %>"><%= habits[i].habitid %>
			<ul>
				<% for ( var j = 0; j < habits[i].records.length; j++ ){ %>
					<li><%= habits[i].records[j].subhabits.toString() %></li>
				<% } %>	
			</ul>
		</li>
	<% } %>
</ul>