<% layout('../boilerplate') %>

<div class="alert alert-success">
	Users added
</div>


<h3>The secret:</h3>
<h4><span class="label label-primary"><%= secret %></span></h4>

<% if ( boyTokens.length > 0 ) { %>
	<h3>Boys' tokens:</h3>
	<ul class="list-unstyled">
		<% for (var i = 0; i < boyTokens.length; i++ ){ %>
			<li><h4><span class="label label-success"><%= boyTokens[i] %></span></h4></li>
		<% } %>
	</ul>
<% } %>

<% if ( girlTokens.length > 0 ) { %>		
<h3>Girls' tokens:</h3>
<ul class="list-unstyled">
	<% for (var i = 0; i < girlTokens.length; i++ ){ %>
		<li><h4><span class="label label-warning"><strong><%= girlTokens[i] %></span></h4></li>
	<% } %>
</ul>
<% } %>

<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
<a href="../" type="button" class="btn btn-default btn-block">Done</a>