
<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
	<title>Admin - Groups</title>
	<link rel="stylesheet" href="../../css/bootstrap.min.css" title="Bootstrap" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="../../css/bootstrap-responsive.min.css" title="Bootstrap responsive" type="text/css" media="screen" charset="utf-8">

	
</head>
<body>
	
<div class="container-fluid">

	<div class="row-fluid">

	<div class="span12">
		<h1>Admin area</h1>
		<h3>Groups</h3>
		
		<a href="create">Create New</a> |
		<a href="populate">Add students</a>
		
	
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Group name</th>
					<th>Year</th>
					<th>Teacher</th>
				</tr>
			</thead>
			<tbody>
		
			<% for ( var i = 0; i < groups.length; i ++ ){ %>
				<tr>
					<td><%= groups[i].name %></td>
					<td><%= groups[i].year %></td>
					<td><%= groups[i].teacher %></td>
				</tr>
			<% } %>
			
			</tbody>
		</table>
		
	</div>
	
	</div>
	
</div>
</body>
</html>