<% layout('../boilerplate-teachers') %>

<h4>What to do:</h4>
<ul>
	<li><a href="groups/">List tutor groups</a>
	<li><a href="groups/create/">Create a new tutor group</a>
	<li><a href="groups/populate/">Add students to a tutor group</a>
</ul>